<div class="options">
    <div class="change-email">
        <form method="POST" action="/">
            <h3>parola sıfırla</h3>
            <input id="email" placeholder="e-posta" type="email" oninput="validateEmail()" autocapitalize="off">
            <button type="submit" disabled>parola sıfırlama isteği yolla</button>
        </form>
    </div>
</div>

<script>
    function validateEmail() {
        var email = $('#email').val();
        const expression = /(?!.*\.{2})^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        var result = expression.test(String(email).toLowerCase());
        $('.change-email button').attr('disabled', !result)
        return result;
    }

    $('.change-email form').on('submit', function (e) {
        e.preventDefault()
        $.post('/parola-sifirla', {
            email: $('#email').val(),
        }, function (data, status) {
            console.log(data)
            if (data.success) {
                showSnackbar('parola sıfırlama isteğini aldım. e-postanı kontrol et')
                setTimeout(() => {
                    window.location.href = '/giris'
                }, 2000);
            } else {
                showSnackbar('bu epostayla kayıtlı birini bulamadım')
            }
        })
    })
</script>