<div class="options">
    <div class="change-password">
        <form method="POST" action="/parola-degistir">
            <h3>parola değiştirme</h3>
            <input id="password" placeholder="yeni parola" type="password" name="new-password" autocomplete="off"
                oninput="validatePassword()">
            <input id="password-check" placeholder="yeni parola tekrarı" type="password" name="new-password-check"
                autocomplete="off" oninput="validatePasswordCheck()">
            <div id="password-validation">
                <span id="password-error-1"><i class="fas fa-check-circle error-icon"></i><i
                        class="fas fa-times-circle error-icon" style="color:red;"></i><span class="validate-message">en
                        az 1 büyük harf</span></span><br />
                <span id="password-error-2"><i class="fas fa-check-circle error-icon"></i><i
                        class="fas fa-times-circle error-icon" style="color:red;"></i><span class="validate-message">en
                        az 1 küçük harf</span></span><br />
                <span id="password-error-3"><i class="fas fa-check-circle error-icon"></i><i
                        class="fas fa-times-circle error-icon" style="color:red;"></i><span class="validate-message">en
                        az 1 rakam</span></span><br />
                <span id="password-error-4"><i class="fas fa-check-circle error-icon"></i><i
                        class="fas fa-times-circle error-icon" style="color:red;"></i><span class="validate-message">en
                        az 8 karakter</span></span><br />
                <span id="password-error-5"><i class="fas fa-check-circle error-icon"></i><i
                        class="fas fa-times-circle error-icon" style="color:red;"></i><span
                        class="validate-message">parolalar uyuşuyor</span></span>
            </div>
            <button style="margin: 10px 0;" type="submit" disabled>parola değiştir</button>
        </form>
    </div>
</div>

<script>
    var p = false
    var pc = false

    function validatePassword() {
        validatePasswordCheck()
        var password = $('#password').val();
        var hasLower = false;
        var hasUpper = false;
        var hasNumber = false;
        var isLong = false;
        for (var i = 0; i < password.length; i++) {
            if (password[i].toLowerCase() != password[i]) {
                hasUpper = true;
            }
            else if (password[i].toUpperCase() != password[i]) {
                hasLower = true;
            } else {
                try {
                    if (typeof Number(password[i]) == "number") {
                        hasNumber = true;
                    }
                } catch (error) { }
            }
        }
        if (password.length >= 8) {
            isLong = true;
            $('#password-error-4 i:eq(1)').css('font-size', "0pt");
            $('#password-error-4 i:eq(0)').css('font-size', "10pt");
        } else {
            $('#password-error-4 i:eq(0)').css('font-size', "0pt");
            $('#password-error-4 i:eq(1)').css('font-size', "10pt");
        }
        if (hasLower) {
            $('#password-error-2 i:eq(1)').css('font-size', "0pt");
            $('#password-error-2 i:eq(0)').css('font-size', "10pt");
        } else {
            $('#password-error-2 i:eq(0)').css('font-size', "0pt");
            $('#password-error-2 i:eq(1)').css('font-size', "10pt");
        }
        if (hasUpper) {
            $('#password-error-1 i:eq(1)').css('font-size', "0pt");
            $('#password-error-1 i:eq(0)').css('font-size', "10pt");
        } else {
            $('#password-error-1 i:eq(0)').css('font-size', "0pt");
            $('#password-error-1 i:eq(1)').css('font-size', "10pt");
        }
        if (hasNumber) {
            $('#password-error-3 i:eq(1)').css('font-size', "0pt");
            $('#password-error-3 i:eq(0)').css('font-size', "10pt");
        } else {
            $('#password-error-3 i:eq(0)').css('font-size', "0pt");
            $('#password-error-3 i:eq(1)').css('font-size', "10pt");
        }
        p = hasLower && hasUpper && hasUpper && isLong
        $('.change-password button').attr('disabled', p && pc ? false : true)
        return hasLower && hasUpper && hasUpper && isLong;
    }

    function validatePasswordCheck() {
        var password = $('#password').val();
        var passwordCheck = $('#password-check').val();
        if (password == passwordCheck) {
            $('#password-error-5 i:eq(1)').css('font-size', "0pt");
            $('#password-error-5 i:eq(0)').css('font-size', "10pt");
            pc = true
            $('.change-password button').attr('disabled', p && pc ? false : true)
            return true;
        }
        $('#password-error-5 i:eq(0)').css('font-size', "0pt");
        $('#password-error-5 i:eq(1)').css('font-size', "10pt");
        pc = false
        $('.change-password button').attr('disabled', p && pc ? false : true)
        return false;
    }

    $('.change-password form').on('submit', function (e) {
        e.preventDefault()
        $.post(window.location.href, {
            password: $('#password').val()
        }, function (data, status) {
            if (data.success) {
                showSnackbar('parola değiştirildi')
                setTimeout(() => {
                    window.location.href = '/giris'
                }, 2000);
            } else {
                showSnackbar('bir hata oldu')
            }
        })
    })


</script>