<div class="new-topic">
    <div class="topic-body">
        <div class="entry-item-list">
            <div class="entry-item-header">
                <h3 class="entry-item-topic"><%- q %></h3>
            </div>
        </div>
    </div>
    <br /><br />
    <span>böyle bir şey yok</span>
    <br />
    <% include newEntryForm %>
</div>