<div>
    <h3>iyte sözlük kullanıcı sözleşmesi</h3>

    <p>
        iyte sözlük, kayıtlı kullanıcılarının içeriklerine yer sağlayıcılık hizmeti veren bir internet sitesidir.
        <br/><br/>
        iyte sözlük(site) kayıtlı kullanıcısı olduğunuzda tabi olduğunuz kurallar ve diğer yasal konular aşağıdaki
        gibidir.
        <br/><br/>
        - kayıtlı kullanıcı olmak
        <br/><br/>
        18 yaş sınırı uygulamaktayız, bu nedenle 18 yaşından küçüklerin kullanıcı olması maalesef mümkün değil.
        <br/><br/>
        iyte sözlük’te kayıtlı kullanıcı olmak için sizden istenilen bilgileri girmeniz gerekmekte.
        <br/><br/>
        - işleyiş ve sorumluluklarınız
        <br/><br/>
        oluşturduğunuz içerik iyte sözlük kurallarına ve hukuka uygun olmak zorundadır. oluşturduğunuz içerik tüm
        sorumluluğu size ait olmak üzere ve hiçbir ön denetime tabi olmadan yayına girdiğinden, oluşturduğunuz içeriğin
        hukuka aykırı olmadığından lütfen emin olun. içerik yayına alındığı anda hukuki sorumluluğunuz başladığından,
        oluşturduğunuz içeriğin daha sonra tarafınızca veya şikayet/haberdar edilme vs. üzerine iyte sözlük tarafından
        silinmiş olması sorumluluğunuzu ortadan kaldırmayacaktır.
        <br/><br/>
        iyte sözlük kuralları, entrylerin silinme sebepleri ve diğer yaptırımlar kullanıcılara site üzerinden
        duyurulmaktadır, bunların takibi sizin sorumluluğunuzdadır.
        <br/><br/>
        entryleriniz iyte sözlük kurallarına uygun olmaması nedeniyle veya hukuka aykırı olması sebebiyle yayından
        kaldırılabilir. kurallara veya hukuka aykırılıklar nedeniyle yazarlığınız geçici olarak durdurulabilir veya
        kullanıcı hesabınız kapatılabilir. diğer tüm haklarımız saklıdır.
        <br/><br/>
        gerekli gördüğümüz takdirde ve hiçbir gerekçe göstermeksizin dilediğimiz içeriği kısmen veya tamamen yayından
        kaldırma, yazarlığınızı iptal etme, kullanıcı kaydınızı silme haklarını saklı tutmaktayız.
        <br/><br/>
        hesabınızın güvenliğine ilişkin tüm sorumluluk size aittir. şifrenizi kolay tahmin edilemeyecek şekilde
        oluşturmanızı ve üçüncü kişilerle paylaşmamanızı, üçüncü kişilere ait web sitelerine ve/veya mobil uygulamalara
        kullanıcı adı ve şifrenizi girmemenizi tavsiye ederiz.
        <br/><br/>
        iyte sözlük’e vermiş olduğunuz bilgilerinizin güvenliği için iyte sözlük elinden gelen özeni göstermektedir
        ancak
        iyte sözlük’ün özen yükümlülüğünden başka yükümlülüğünün olmadığını, barındırma hizmeti ve benzeri hizmet veren
        firmaların güvenliği sağlayamaması veya iyte sözlük’e yasadışı olarak erişilerek bilgilerin ele geçirilmesi gibi
        hallerde doğrudan ya da dolaylı hiçbir zarara ilişkin sorumluluk kabul etmemekteyiz.
        <br/><br/>
        her ne kadar düzenli olarak yedekleme yapıyor olsak da, sitedeki verilerinizin (entryler, mesajlar, notlar ve
        benzeri her türlü içerik) kısmen veya tamamen kaybolmayacağına ilişkin hiçbir taahhütte bulunmamaktayız. ayrıca
        bu
        verileri kalıcı olarak silme hakkını da saklı tutmaktayız. bu nedenle herhangi bir sebeple yaşanacak veri kaybı
        veya
        bozulması halinde hiçbir şekilde sorumluluk kabul etmemekteyiz. veri kaybı yaşama gibi bir endişeniz varsa iyte
        sözlük’teki verilerinizi kendi imkanlarınızla yedeklemenizi öneririz.
        <br/><br/>
        - gizlilik
        <br/><br/>
        iyte sözlük’te bulunduğunuz süre boyunca 'cookie' olarak da adlandırılan çerezlerin ve buna benzer unsurların
        bilgisayarınıza yerleştirilmesi söz konusu olabilir. çerezler basit metin dosyalarından ibaret olup, kimlik ve
        sair
        özel bilgiler içermez, bu nevi kişisel bilgi içermemekle beraber, oturum bilgileri ve benzeri veriler saklanır
        ve
        sizi tekrar tanımak için kullanılabilir. bu konuda daha fazla bilgiyi http://en.wikipedia.org/wiki/http_cookie
        ve
        http://tr.wikipedia.org/wiki/çerez adreslerinden edinebilirsiniz. (verilen linklerden ulaşacağınız içeriğin
        güvenilirliğine ilişkin sorumluluğumuz bulunmamaktadır.)
        <br/><br/>
        ayrıca iyte sözlük'e kaydolmanız esnasında ve kullanımınız süresince sizden doğrudan talep ettiğimiz(haberli)
        veya
        siteyi kullanımınız esnasında yaptığınız işlemlerin otomatik olarak kaydedilmesi(habersiz) şeklinde tarafınızdan
        toplanılan her türlü veriyi süre sınırı olmaksızın saklama, işleme ve kullanma hakkımız bulunmaktadır ancak bu
        sözleşmede aksi belirtilen durumlar saklıdır.
        <br/><br/>
        sizden topladığımız veriler gizli tutulacaktır.
        <br/><br/>
        yasal zorunluluğun söz konusu olması ve yetkili makamlar tarafından usulüne uygun olarak talep edilmesi halinde
        bilgileriniz ilgili makamla paylaşılabilecektir. yürürlükteki mevzuat gereği tüm kayıtlı kullanıcıların sadece
        son
        12 aylık ip bilgisi saklanmaktadır.
        <br/><br/>
        kendi isteğiniz doğrultusunda mesajlaşma yoluyla paylaştığınız veya entrylerinizle alenileştirdiğiniz
        bilgilerinize
        ilişkin olarak ekşi sözlük’ün hiçbir sorumluluğu bulunmamaktadır. kişisel yazışma yoluyla veya yayınladığınız
        entrylerde paylaştığınız bilgilere özen göstermenizi tavsiye ederiz.
        <br/><br/>
        - telif
        <br/><br/>
        iyte sözlük’te oluşturduğunuz/yayınladığınız içeriklerin telif hakları size aittir. bu nedenle iyte sözlük’te
        yayınlandığınız içeriğinizi (entrylerinizi) ticari maksatla dahi dilediğiniz şekilde derleyip,
        kullanabilirsiniz.
        ancak iyte sözlük'te yayında olan içeriklerinizi internet üzerinde başka bir sitede daha yayınlamanız halinde
        iyte
        sözlük’e aktif link vermeniz gerekmektedir.
        <br/><br/>
        iyte sözlük’te yayımladığınız içeriğin size ait olduğu veya fikir ve sanat eserleri kanunu çerçevesinde kullanma
        hakkınız olduğu kabul edilir. size ait olmayan içeriğin ancak kanunlarda belirtilen usule uygun olarak ve atıfta
        bulunmanız şartıyla yayınlanması mümkündür. aksi halde uğrayabileceğimiz zararlardan sorumlu olacağınızı
        belirtmek
        isteriz.
        <br/><br/>
        - diğer fonksiyonlar
        <br/><br/>
        sözlük içi mesajlaşma ve diğer imkanları kullanırken hukuka ve varsa bunlara ilişkin kurallara uygun davranmanız
        gerekmektedir.
        <br/><br/>
        - kullanım koşulları
        <br/><br/>
        <a href="/kullanim-kosullari">iyte sözlük kullanım koşulları</a> bu sözleşmenin ayrılmaz bir parçasıdır.
        <br/><br/>
        - sözleşme değişiklikleri
        <br/><br/>
        bu sözleşme iyte sözlük tarafından önceden duyurulmaksızın ve tek taraflı olarak değiştirilebilir. değişiklik
        sonrası sitenin kayıtlı kullanıcı olarak kullanım sözleşme değişikliklerinin kabulü anlamına geleceğinden
        sözleşme
        metnini belirli aralıklarla kontrol etmenizi tavsiye ederiz.
        <br/><br/>
        bu sözleşmesel ilişki nedeniyle taraflar arasında doğabilecek ihtilaflarda iyte sözlük’ün kayıtlarının(eposta
        yazışmaları, internet trafik bilgisi ve erişim kayıtları[log] vs.) hmk 193. maddesi anlamında geçerli,
        bağlayıcı,
        kesin ve münhasır delil olacağını, bu maddenin delil sözleşmesi niteliğinde olduğunu kabul etmektesiniz.
        <br/><br/>
        bu sözleşme en son 13.02.2020 tarihinde güncellenmiştir.</p>
</div>